.box{
  width: 300px;
  height: 300px;
  border: 3px solid steelblue;
  overflow: auto;
  overflow-y: scroll;
}

.elipsis{
  width: 100px;
  border: 2px solid red;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-overflow: clip; */
}